
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Esrb:</strong>
  <%= @game.ESRB %>
</p>

<br><br> 
<iframe class="frame" width="500" height="250" src="<%= @game.link %>"></iframe>
<br>

<%= commontator_thread(@game) %>