<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @misc.image %>
</p>

<p>
  <strong>Popup:</strong>
  <%= @misc.popup %>
</p>

<%= link_to 'Edit', edit_misc_path(@misc) %> |
<%= link_to 'Back', miscs_path %>
